.list-cell {
    -fx-background-color: transparent ;
    -fx-padding: 2px ;
}

.list-cell .label {
    display: inline-block;
    -fx-background: #ffe6ac;
    -fx-background-color: -fx-background ;
    -fx-background-radius: 6px;
    -fx-padding: 5px ;
    -fx-font-size: 17px;
}
.list-cell:filled:selected {
    -fx-background-color: -fx-background ;
    -fx-background-insets: 0 ;
}